<body class="font-[Poppins]">
    <header class="bg-red-300">
         <nav class="flex justify-between items-center w-[92%]  mx-auto">
            <div>
                <img class="w-16 cursor-pointer" src="https://cdn-icons-png.flaticon.com/128/175/175514.png?ga=GA1.1.1305954812.1696938950&track=ais" alt="...">
            </div>
            <div
                class="nav-links duration-700 md:static absolute bg-red-300 md:min-h-fit min-h-[50vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                    <li>
                        <a class="hover:text-gray-500" href="/recipes">My Recipes</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="#">My Dinners</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="#">Public Recipes</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-500" href="#">My Profile</a>
                    </li>

                </ul>
            </div>
            <div class="flex items-center gap-6">
                <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "bg-gray-400 text-black px-5 py-2 rounded-full hover:bg-gray-500 transition duration-300 ease-in-out" %>
                <ion-icon onclick="onMenu(this)" name="menu-outline" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
      </nav> 
    </header>