<div class="bg-cover bg-center flex items-center justify-center h-screen">
    <img src="/home_photo.jpg" alt="Background Image" class="w-full h-full object-cover z-0 absolute">
    <div class="text-center z-10 mt-12 relative text-white">
        <h1 class="text-5xl font-bold mb-4">Welcome to A Piece of My Taste</h1>
        <p class="text-xl mb-8">Your own recipe organizer!</p>
        <%= button_to "Sign in", new_user_session_path, class: "bg-red-300 hover:bg-red-400 text-black font-semibold py-3 px-6 rounded-full transition duration-300 ease-in-out" %>
    </div>
</div>